.card-title{
    font-size: 50px;
    color: rgba(255, 91, 0, 1.0);
    border-bottom: 3px solid rgba(255, 91, 0, 1.0);
    font-family: Arial, Helvetica, sans-serif;
}

.card{
    box-shadow: 0 4px 8px 0 rgba(255, 91, 0, 0.2), 0 6px 20px 0 rgba(255, 91, 0, 0.19);
    border-color: rgba(255, 91, 0, 1.0);
}

.card-text{
    font-size: 15px;
    color: rgba(255, 91, 0, 1.0);
    font-family: Arial, Helvetica, sans-serif;
}

.card-text .numbers{
    font-size: 30px;
}

.card-text .numbers.deaths{
    color: red;
}

.card-text .numbers.confirmed{
    color: orange;
}

.card-text .numbers.recovered{
    color: rgb(112, 187, 0);
}

